@font-face {font-family: "Neue Einstellung Bold";
    src: url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.eot"); /* IE9*/
    src: url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.woff") format("woff"), /* chrome、firefox */
    url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.svg#Neue Einstellung Bold") format("svg"); /* iOS 4.1- */
  }

html, body {
    font-family: 'Neue Einstellung Bold','Questrial';
    color: $color-dark;
    overflow-x: hidden !important
}

p {
    margin: 0;
}

.font-hero {
    font-size: $font-hero;
    line-height: 1.1em;
}

.font-header {
    font-size: $font-header;
}

.color-primary {
    color: $color-primary;
}