@font-face {font-family: "Neue Einstellung Bold";
    src: url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.eot"); /* IE9*/
    src: url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.woff") format("woff"), /* chrome、firefox */
    url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/@font-face/51fdf8021065497210ca54837e1601e9.svg#Neue Einstellung Bold") format("svg"); /* iOS 4.1- */
  }

html, body {
    font-family: 'Neue Einstellung Bold','Questrial';
    color: $color-dark;
    overflow-x: hidden !important
}

p {
    margin: 0;
}

.font-4xl {
    font-size: 13vw;
    line-height: 1.1em;
    @include media($from: 576) {
        font-size: 6.5vw;
    }
    @include media($from: 992) {
        font-size: 4em;
    }
}

.font-3xl {
    font-size: 3em;
    line-height: 1.1em;
    @include media($from: 992) {
        font-size: 3.8em;
    }
}

.font-2xl {
    font-size: 2em;
    @include media($from: 992) {
        font-size: 2.4em;
    }
}

.font-xl {
    font-size: 1.8em;
    @include media($from: 992) {
        font-size: 2em;
    }
}

.font-lg {
    font-size: 1.35em;
    @include media($from: 992) {
        font-size: 1.5em;
    }
}

.font-md {
    font-size: 1em;
    @include media($from: 992) {
        font-size: 1.1em;
    }
}

.font-sm {
    font-size: 0.8em;
    @include media($from: 992) {
        font-size: 1em;
    }
}

.font-xs {
    font-size: 0.7em;
}

.font-normal {
    font-family: 'Questrial';
}

.font-bold {
    font-weight: bold;
}

.color-primary {
    color: $color-primary;
}