footer {
    .footer-header {
        font-size: 2.4em;
        color: $color-primary;
        text-align: center;
        margin: 1.2em auto;
    }
    .footer-trust {
        width: 94%;
        margin: auto;
        .footer-trust-item {
            padding: 12px 0px;
            margin-bottom: 14px;
            border-bottom: 1px solid #dddddd;
            .footer-trust-item-head {
                font-weight: bold;
                font-size: 1.5em;
                img {
                    float: right;
                }
            }
            .footer-trust-item-tagline {
                font-family: 'Questrial';
            }
        }
    }
}