.work {
  margin: 64px auto;
  .work-hero {
    width: 85%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 56px 0px 84px;
    animation: fadein-up 1s;
  }
  .work-board {
    display: none;
    animation: fadein-up 1s;
    @include media($from: 576) {
      width: 85%;
      margin: auto;
      display: block;
    }
    @include media($from: 992) {
      display: flex;
      align-items: flex-end;
    }
  }

  .work-board-sidebar {
    position: fixed;
    top: 0%;
    left: 0%;
    &.expand {
      width: 45%;
      z-index: 500;
      background: $color-white;
      height: 100vh;
      @include media($from: 576) {
        width: 38%;
      }
      @include media($from: 768) {
        width: 38%;
      }
      @include media($from: 992) {
        width: 28%;
      }
      @include media($from: 1200) {
        width: 25%;
      }
      .work-board-sidebar-list {
        width: 100%;
        box-shadow: 0 7px 25px 2px rgba(0, 0, 0, 0.17),
          0 10px 80px 5px rgba(0, 0, 0, 0.17);
        transform: translateX(0%);
        transition: transform 0.5s ease-out;
        @include media($from: 992) {
          display: flex;
          flex-flow: column;
          justify-content: space-around;
          padding-left: 42px;
        }
        @include media($from: 1200) {
          overflow: hidden;
        }
      }
      .work-board-float-btn {
        left: 82%;
        
        @include media($from: 768) {
          left: 86%;
        }
        @include media($from: 992) {
          left: 86%;
        }
        @include media($from: 1200) {
          // left: 88%;
        transform: translateX(420%);
        transition: all 0.5s linear;
        }
        // transform: translateX(300%);
        // @include media($from: 768) {
        //   transform: translateX(344%);
        // }
        // @include media($from: 992) {
        //   transform: translateX(258%);
        // }
        // @include media($from: 1200) {
        //   transform: translateX(280%);
        // }
      }
    }
    .work-board-sidebar-list {
      position: relative;
      top: 0%;
      left: 0%;
      width: 0;
      height: 100vh;
      padding-left: 20px;
      overflow-x: hidden;
      overflow-y: scroll;
      transform: translateX(-100%);
      transition: transform 0.5s ease;
    }
    .work-board-float-btn {
      position: absolute;
      left: 120%;
      bottom: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 92px;
      height: 92px;
      background: $color-primary;
      color: $color-white;
      border-radius: 50%;
      z-index: 550;
      cursor: pointer;
      transition: all 0.5s ease;
      @include media($from: 992) {
        left: -240%;
        bottom: 42%;
        transform: translateX(0%);
        transition: transform 0.5s ease;
        span {
          transform: rotate(-90deg) translateY(18px);
          transition: transform 0.5s linear;
        }
      }
    }
  }

  .work-category {
    .work-category-item {
      position: relative;
      cursor: pointer;
      padding: 8px 12px 8px 0px;
      &::before {
        content: "";
        width: 0px;
        height: 1px;
        position: absolute;
        top: 48%;
        background: $color-primary;
        transition: width 0.4s cubic-bezier(0.2, 1, 0.2, 1);
      }
      // &:hover,
      &.active {
        &::before {
          width: 18px;
          transition-delay: 0.1s;
        }
        .work-category-text {
          padding-left: 24px;
          font-weight: bold;
        }
      }
      .work-category-text {
        transition-duration: 0.4s;
      }
    }
  }
  .work-legend {
    margin: 54px auto;
    @include media($from: 992) {
      margin: 0px;
    }
    .work-legend-header {
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 2px;
    }
    .work-legend-item-wrapper {
      width: 200px;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      border-left: 1px solid #000;
      margin-top: 12px;
      padding: 6px 0px;
      .work-legend-item {
        width: 38%;
        display: flex;
        align-items: center;
        margin: 4px auto;
        img {
          margin-right: 10px;
        }
      }
    }
  }

  .work-filter {
    .work-filter-item-wrapper {
      display: flex;
      flex-flow: row wrap;
      .work-filter-item {
        width: 100%;
        height: 280px;
        position: relative;
        text-decoration: none;
        color: $color-white;
        cursor: pointer;
        overflow: hidden;
        transition-duration: 0.6s;
        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
          img {
            transform: scale(1.2);
          }
        }
        @include media($from: 992) {
          width: 60%;
          height: 420px;
          &:nth-child(even) {
            width: 40%;
          }
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            width: 33.33%;
          }
        }
        img {
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: inherit;
          object-fit: cover;
          z-index: -1;
          transition-duration: 0.8s;
          transition-timing-function: ease-out;
        }
        .info-wrapper {
          padding: 8% 6% 6%;
          height: 100%;
          display: flex;
          flex-flow: column;
          .info-work-category {
            font-family: "Questrial";
          }
          .info-work-platform-wrapper {
            display: flex;
            margin-top: auto;
            .info-work-platform {
              width: 36px;
              height: 36px;
              background-repeat: no-repeat;
              background-color: white;
              border-radius: 50%;
              padding: 10px;
              margin: auto 4px;
              background-size: 16px;
              background-position: center;
            }
          }
        }
      }
    }
  }
}
